<h4 class="card-title">Comments</h4>
<hr>

<div *ngFor="let comment of comments | paginate: { id: 'comment_paginator', itemsPerPage: 5, currentPage: currentPage, totalItems: totalComments}" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-1">
        <span class="pull-left">
          <img class="media-object img-thumbnail " src="{{comment.author.photo? comment.author.photo : '/assets/img/no_img.gif'}}">
        </span>
      </div>
      <div class="col-lg-11">
        <div class="media-body">
          <read-more id="description_body" [text]="comment.body? comment.body : 'N/A'" [maxLength]="500"></read-more>
          <br>
          <span *ngIf="comment.attachments">
                  <li *ngFor="let attachment of comment.attachments" style="list-style: none;" class="pull-left">
                     <a href="{{attachment.content_url}}">{{attachment.content_url}}</a>
                  </li>
                  <br>
               </span>
          <small class="text-muted">{{comment.author.name}} ({{comment.author.role | uppercase}})| {{comment.created_at | date:'short'}}</small>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
  <pagination-controls (pageChange)="listComments($event)" id="comment_paginator"></pagination-controls>
</div>
