.card {
  margin-bottom: 0px;
}


.spinner.hidden {
  opacity: 0;
}

.spinner {
  margin: 10px;
  transition: opacity 0.5s;
}

.spinner, .spinner:after {
  border-radius: 100%;
}

.spinner {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 32px;
  border-bottom: 1px solid;
  vertical-align: middle;
  overflow: hidden;
  text-indent: 100%;
  -webkit-animation: 0.5s spinner linear infinite;
  -moz-animation: 0.5s spinner linear infinite;
  animation: 0.5s spinner linear infinite;
}

* {
  box-sizing: inherit;
}

.spinner:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid;
  opacity: 0.5;
}

*:before, *:after {
  box-sizing: inherit;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
