<h1 class="text-center" style="padding-top: 20px; font-weight: 100">Customer Support Tickets</h1>
<hr>

<div class="card">
  <div class="card-block">
    <table id="tickets_table" class="table-responsive table-striped table-outline table-bordered" cellspacing="0" width="100%">

      <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Subject</th>
        <th>Requester Name</th>
        <th>Assignee Name</th>
        <th>Created At</th>
        <th>Manage</th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let ticket of ticketsService.tickets | paginate: { id: 'ticket_paginator', itemsPerPage: 25, currentPage: currentPage, totalItems: totalTickets }">
            <td>
              {{ticket.id}}
            </td>
            <td>{{ticket.status}}</td>
            <td>{{ticket.subject}}</td>
            <td>{{ticket.requester.name}}</td>
            <td>{{ticket.assignee.name}}</td>
            <td>{{ticket.created_at| date: 'short'}}</td>
            <td><a [routerLink]="['/ticket-detail']" [queryParams]="{id: ticket.id}">View Details</a></td>
        </tr>
      </tbody>

      <tfoot>
        <th>ID</th>
        <th>Status</th>
        <th>Subject</th>
        <th>Requester Name</th>
        <th>Assignee Name</th>
        <th>Created At</th>
        <th>Manage</th>
      </tfoot>

    </table>

    <div class="text-center">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
      <pagination-controls (pageChange)="listTickets($event)" id="ticket_paginator"></pagination-controls>
    </div>
  </div>
</div>


