<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" style="background-size: 120px auto" href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">View All Tickets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ticket_detail']">View Ticket </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <div class="container-fluid">

        <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  HomesRUS &copy; 2017 <a target="_blank" href="https://www.linkedin.com/in/apoorv-kansal-987057125/">Apoorv Kansal</a>.
  <span class="float-right">Zendesk Internship Coding Challenge
    </span>
</footer>
